<!DOCTYPE html>
{% load static %}
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="Sitio web personal de Gabo Araya Rocha" />
    <meta
      name="keywords"
      content="administración de contraseñas, administración de passwords, password manager"
    />
    <meta name="author" content="Gabo Araya Rocha" />

    <!-- Dublin Core Metadata -->
    <meta name="DC.creator" content="Gabo Araya Rocha">
    <meta name="DC.subject" content="Administrador de contraseñas">
    <meta name="DC.publisher" content="Gabo Araya Rocha">
    <meta name="DC.contributor" content="Gabo Araya Rocha">
    <meta name="DC.title" content="{{ page }}">
    <meta name="DC.description" content="Este sitio web le permite crear una contraseña aleatoria arbitraria">
    <meta name="DC.date" content="{% now 'Y-m-d' %}">
    <meta name="DC.type" content="Text">
    <meta name="DC.format" content="text/html">
    <meta name="DC.identifier" content="{{ url_actual }}">
    <meta name="DC.language" content="es">

    <!-- Social Network Metadata -->
    <meta property="og:title" name="title" content="{{ page }}">
    <meta property="og:type" content="Text">
    <meta property="og:description" name="description" content="Este sitio web le permite crear una contraseña aleatoria arbitraria">
    <meta property="og:image" name="image" content="{% static 'website/img/logo.png' %}">

    <title>{% block title %}{% endblock %} | Password Manager</title>

    <!-- Favicons -->
    <link href="{% static 'website/img/favicon.png' %}" rel="shortcut icon" />
    <link href="{% static 'website/img/apple-touch-icon.png' %}" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Custom Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      rel="stylesheet"
    />

    <!-- Bootstrap icons-->
    <link href="{% static 'website/css/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet" />

    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'website/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'website/css/extra.css' %}" rel="stylesheet" />


    <!-- Specific Page CSS goes HERE  -->
    {% block stylesheets %}{% endblock stylesheets %}
  </head>

  <body class="d-flex flex-column h-100">
      {% static 'website/css/extra.css' %}
    <main class="flex-shrink-0">

    <!-- Header -->
    {% include 'website/navegacion.html' %}

    <!-- Content -->
    {% block content %} {% endblock content %}

    <!-- Footer -->
    {% include 'website/footer.html' %}

    </main>

    <!-- JS Scripts -->
    <script defer src="{% static 'website/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}

  </body>
</html>
